[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-string-utils = "==0.4.0"
djangorestframework = "*"
pillow = "*"
uuid = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.11"
